# Don't suggest using -n in [ $var ]
disable=SC2244

# Allow using `which` since it gives full paths and is common enough
disable=SC2230

disable=SC2086
disable=SC2068
disable=SC2039
disable=SC2242
disable=SC2027
disable=SC2155
disable=SC2046


disable=SC2034  # Unused variables left for readability


disable=SC2143
disable=SC2012
disable=SC2015
disable=SC2143
disable=SC2236
disable=SC2005
disable=SC2181
disable=SC2005 #all other info